# Requirements to be installed from pypi go in this file
# so that there is no index confusion for pip
# Requirements from test.pypi should be in requirements-testpypi.txt

Django==4.0.1
djangorestframework==3.13.1
psycopg2-binary==2.9.3
djangorestframework-simplejwt==5.2.0
django-cors-headers==3.13.0
pyjwt==2.4.0

# algorithms
coursescheduler==0.0.6 #Company 2 alg 1
c1algo1==2.0.7 # Company 1 alg 1

# dependencies from c1algo2
numpy
sklearn
anyio
