# Requirements to be installed from test.pypi go in this file
# so that there is no index confusion for pip
# Requirements from pypi should be in requirements.txt

--extra-index-url https://test.pypi.org/simple/
capacityforecaster==0.3.0 #Company 2 alg 2 (from pypi.org/simple/ index)

--extra-index-url https://test.pypi.org/simple/
c1algo2==0.0.11 #Company 1 alg 2 (from pypi.org/simple/ index)
